
<!DOCTYPE html>
<html>
    <head>
<title>ANGULAR JS</title>
 <script src="./scripts/angular.js"></script> 
 <script src="./scripts/script1.js"></script>

 <script src="./scripts/loader.js"></script>
 <script>
     google.charts.load('current',{'packages':['corechart']});
     google.charts.setOnLoadCallback(drawChart);

function drawChart(){

    var data=google.visualization.arrayToDataTable([
        ['Task','Hours per day'],
        ['Work', 11],
        ['Eat', 2],
        ['Commute', 2],
        ['Watch TV', 2],
        ['Sleep', 7]
    ]);

    var options={
        title:'My daily activities'
    };

    var  chart=new google.visualization.PieChart(document.getElementById('piechart'));
    chart.draw(data,options);
}

 </script>

    </head>
    <body ng-app="myApp" ng-controller="myController">

<div>
Enter Name : <input type="text" ng-model="name">
{{name}}
</div>

<div ng-init="firstname='John';lastname='wick'">  <!-- Use quotes to denote strings in ng-init -->
    {{firstname}} {{lastname}}
    <p ng-bind="firstname"></p>
</div>

<div >
<p>{{moviename}}</p>
<p>{{directorname}}</p>
{{person.firstname}}<br>
{{person.lastname}}<br>
{{points[2] - 1}}
</div>

<div style="background-color:{{mycolor}}">
<input type="text" ng-model="mycolor" style="background-color:{{mycolor}}">
</div>

<my-own-directive></my-own-directive>

<br>

Quantity :<input type="number" ng-model="quantity"><br>
Price    :<input type="number" ng-model="price"><br>
Total    :{{quantity * price | currency}}<br>

<ol>
    <li ng-repeat="x in movies | orderBy:'director'">{{x.name +"-"+ x.director | uppercase }}</li>
</ol>

<form name="myForm">
Enter Email:<input type="email" name="myEmail" ng-model="email"><br>
<span ng-show="myForm.myEmail.$error.email">Invalid Email</span>
</form>

<div id="piechart" style="width:900px;height:500px;"></div>

    </body>
</html> 

